@font-face{
    font-family:PT Root;
    src:url(ptroot.woff2)
}

body {  
    font-family:PT Root;
    font-size:24px;
    line-height:1.5;
    background-color:#000000;
    color:#ffffff;
}

header{
    position:fixed;
    top:8px;
    left:0px;
    width:100%;
    overflow:hidden;
    z-index:100000001;
}

header h1, header h2{
    display:flex;
}

h1 span, h2 span{
    width:400;
    display:inline-block;
    flex: 0 0 auto;
}

section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    min-height:100vh;
}

section div.slides{
    width:500px;
    height:750px;
    position:relative;
}

section div.slides img{
    position:absolute;
    top:0;
    left:0;
    width:500px;
    height:750px;
}

section div.split{
    display:flex;
    align-items:center;
    justify-content: center;
}

section div.split:first-child{
    background-color:#111111;
}

section div.info{
    max-width:480px;
}

section h2{
    font-size:32px;
}

section p{
    margin: 32px 0 0 0;
}

