@font-face{
    font-family:PT Root;
    src:url(/assets/ptroot.woff2)
}

body {  
    font-family:PT Root;
    font-size:24px;
    line-height:1.5;
    background-color:#000000;
    color:#ffffff;
}

header{
    position:fixed;
    top:24px;
    left:24px;
}

section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    min-height:100vh;
}

section div.slides{
    width:500px;
    height:750px;
}

section div.slides img{
    width:450px;
    height:650px;
}

section div.split{
    display:flex;
    align-items:center;
    justify-content: center;
}

section div.split:first-child{
    background-color:#111111;
}

section div.info{
    max-width:480px;
}

section h2{
    font-size:32px;
}

section p{
    margin: 32px 0 0 0;
}